<!DOCTYPE html>
<html lang="en">
<head>
    <title><%=title%></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

</head>
<body>

<div class="w3-container w3-card-4" style="height:500px;">
<form method="GET" action="/xlsxFileSelected">
    <h1>Select your file here</h1>

    <select class="w3-select" name="xlsxFileOption">
        <option value="" disabled selected>Choose your option</option>
        <%xlsxFileObject.forEach(function(item){%>
        <option value='<%=item%>'><%=item%></option>
        <%});%>
    </select><br><br>
    <center><input type="submit" class="w3-button w3-green" value="Proceed" style="width: 50%"></center>
</form>
</div>

</body>
</html>
